

<div [ngClass]="name ? hidden : classUserRegistrado">
<form [ngClass]="asignaClases()"  (ngSubmit)="onSubmit(miForm)" #miForm="ngForm" >
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-white">Email</label>
      <input type="email" name="email" #email ngModel required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
    </div>
    <div *ngIf="control.errors!==null || control.errors" class="mb-4 text-sm text-red-800 p-1 rounded-sm bg-red-50 border-2 dark:bg-gray-800 dark:text-red-400" role="alert">
      <div class="tooltip-arrow z-10" data-popper-arrow style="top: 6.4rem;text-align: end;width: 5rem;"></div>
      <span class="font-medium flex max-w-48 w-48 "><fa-icon
        [icon]="faCircleExclamation"
        style="font-size: 12px;display: block;width: 23px;height: 23px;padding: -5px;"
      ></fa-icon>{{menssege}}!</span>
    </div>
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
      <input type="password" name="password" #password  ngModel  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input id="remember"  #remember  ngModel type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
      </div>
      <label for="remember" class="ms-2 text-sm font-medium text-gray-300">Remember me</label>
    </div>
    <button type="submit" class="rounded-md bg-gray-800  flex content-center p-1 text-white hover:text-white px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
  </form>

</div>

<div id="alert-border-2" [ngClass]="name ? classValid : classError" role="alert">
  
  <fa-icon
  [icon]="name ? faSmile : faExclamationCircle" 
  style="font-size: 16px;display: block;"
></fa-icon>
  <div class="ms-3 text-sm font-medium">
   {{notificacion}} <a href="#" class="font-semibold underline hover:no-underline">{{name}}</a>
  </div>

</div>
<style>
  [data-popper-arrow]:after {
  
    width: 10px!important;
    height: 10px!important;}
</style>