<section class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 bg-[#83bbec47]">
    <div class="md:container mx-auto flex items-center" >
        <fa-icon
        [icon]="portafolio.img"
        class="text-{{portafolio.color}} text-9xl mr-3"
       
      ></fa-icon>
    
    <div class="p-5 leading-none">
        <h3 class="text-{{portafolio.color}}" style="margin-bottom: 0em;"> {{portafolio.title}}</h3>  
        <span class="text-[#4d535c] block w-3/4" > 
            {{portafolio.description}}
        </span>
    </div>
</div>
</section>
<section>
    <div class="md:container mx-auto " >
        
    </div>
</section>
