<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
  <div class="md:container mx-auto p-8 flex flex-wrap" >
    <div
      class="rounded-md border hover:shadow-xl p-4 m-1 grid justify-items-center"
      style="width: 18rem;"
      *ngFor="let item of dato"
    >
   
      <fa-icon
        [icon]="item.img"
        style="font-size:3rem;color:#51bde8;border-radius:50%"
      ></fa-icon>
      <div class="text-center">
        <h5
          class="text-lg md:text-lg font-serif font-bold tracking-tight text-sky-400/100 hover:text-sky-400/100 sm:text-lg"
        >
          {{ item.title }}
        </h5>
        <p class="font-serif mb-4 text-gray-500">
          {{ item.description }}
        </p>
        <a
        routerLink="portafolio/{{item.title}}"
          
          class="rounded-md lowercase bg-gray-800 p-1 mb-0 text-gray-400 hover:text-white px-3.5 py-2.5 z-50 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Go somewhere</a
        >
      </div>
    </div>
  </div>
</div>
